@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding-right: 0 !important;
  background: #0f0d10;
  font-family: 'Baloo', cursive;
}

img {
  max-width: 100%;
}

img[src^="//my.rtmark"] {
  display: none;
}

.modal-content {
  border: none;
  background: none;
}
